In [15]:

import numpy as np  # For numerical operations
import pandas as pd  # For handling dataframes

# Input data files are available in the read-only "../input/" directory
import os

# List all files in the input directory
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Read training and test data
train_df = pd.read_csv("C:\\Users\\harsh\\sp\\train.csv")
test_df = pd.read_csv("C:\\Users\\harsh\\sp\\test.csv")

# Display the training data
train_df

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,6,8,5,10.600000,0,13.9,-0.3,0.79,Graduate
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,6,9,6,13.875000,0,9.4,-0.8,-3.12,Graduate
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,0,5,8,5,11.400000,1,9.4,-0.8,-3.12,Enrolled
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,6,0,0,0.000000,0,7.6,2.6,0.32,Dropout
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,6,6,6,13.666667,0,15.5,2.8,-4.06,Graduate

In [16]:
# Display the test data
test_df

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51007,127525,1,1,2,171,1,1,128.0,1,38,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51008,127526,2,39,1,9119,1,19,133.1,1,19,...,0,0,5,5,0,0.000000,0,9.4,-0.8,-3.12
51009,127527,1,1,1,171,1,1,127.0,1,1,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51010,127528,1,1,3,9773,1,1,132.0,1,19,...,0,0,6,9,3,13.000000,0,7.6,2.6,0.32
51011,127529,1,1,1,171,1,1,129.0,1,37,...,0,0,0,0,0,0.000000,0,7.6,2.6,0.32

In [17]:
# Data Preprocessing

# Replace categorical labels with numerical values
train_df["Target"] = train_df["Target"].replace({"Graduate": 0, "Dropout": 1, "Enrolled": 2})

# Separate features (X) and target variable (y)
X = train_df.drop(['Target'], axis=1)
y = train_df[['Target']]

# Display the features
X

C:\Users\harsh\AppData\Local\Temp\ipykernel_17624\221343080.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df["Target"] = train_df["Target"].replace({"Graduate": 0, "Dropout": 1, "Enrolled": 2})

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,0,6,7,6,12.428571,0,11.1,0.6,2.02
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,0,6,9,0,0.000000,0,11.1,0.6,2.02
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,0,6,0,0,0.000000,0,16.2,0.3,-0.92
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,0,8,11,7,12.820000,0,11.1,0.6,2.02
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,0,7,12,6,12.933333,0,7.6,2.6,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,0,6,8,5,10.600000,0,13.9,-0.3,0.79
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,0,6,9,6,13.875000,0,9.4,-0.8,-3.12
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,2,0,5,8,5,11.400000,1,9.4,-0.8,-3.12
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,0,6,0,0,0.000000,0,7.6,2.6,0.32
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,0,6,6,6,13.666667,0,15.5,2.8,-4.06

In [20]:
# Feature Scaling using RobustScaler
from sklearn.preprocessing import RobustScaler

# Initialize the scaler
scaler = RobustScaler()

# Fit the scaler on the training data and transform both training and test data
scaler.fit(X)
X_scaled = scaler.transform(X)
test_df_scaled = scaler.transform(test_df)

# Convert scaled arrays back to DataFrames
X = pd.DataFrame(X_scaled, columns=X.columns)
test_df = pd.DataFrame(test_df_scaled, columns=test_df.columns)

# Display scaled training data
print("Scaled Training Data:")
print(X.head())

# Display scaled test data
print("Scaled Test Data:")
print(test_df.head())

# Check shape of test data
test_df.shape

Scaled Training Data:
         id  Marital status  Application mode  Application order    Course  \
0 -1.000000             0.0         -0.421053                0.0 -0.029038
1 -0.999974             0.0          0.000000                0.0 -0.029038
2 -0.999948             0.0          0.000000                1.0  0.000000
3 -0.999922             0.0         -0.421053                2.0  0.446461
4 -0.999895             0.0         -0.421053                1.0  0.446461

   Daytime/evening attendance  Previous qualification  \
0                         0.0                     0.0
1                         0.0                     0.0
2                         0.0                     0.0
3                         0.0                     0.0
4                         0.0                     0.0

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                       -0.473333          0.0               -0.500000  ...
1                       -0.540000          0.0                0.000000  ...
2                        0.260000          0.0               -0.444444  ...
3                       -0.140000          0.0                0.000000  ...
4                       -0.073333          0.0                0.000000  ...

   Curricular units 1st sem (without evaluations)  \
0                                             0.0
1                                             0.0
2                                             0.0
3                                             0.0
4                                             0.0

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                  0.0                                  0.0
1                                  0.0                                  0.0
2                                  0.0                                  0.0
3                                  0.0                                  2.0
4                                  0.0                                  1.0

   Curricular units 2nd sem (evaluations)  \
0                                0.000000
1                                0.666667
2                               -2.333333
3                                1.333333
4                                1.666667

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                  0.2                          0.088073
1                                 -1.0                         -3.743119
2                                 -1.0                         -3.743119
3                                  0.4                          0.208734
4                                  0.2                          0.243670

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                             0.0           0.000000
1                                             0.0           0.000000
2                                             0.0           1.545455
3                                             0.0           0.000000
4                                             0.0          -1.060606

   Inflation rate       GDP
0       -0.347826  0.487106
1       -0.347826  0.487106
2       -0.478261 -0.355301
3       -0.347826  0.487106
4        0.521739  0.000000

[5 rows x 37 columns]
Scaled Test Data:
         id  Marital status  Application mode  Application order    Course  \
0  1.000026             0.0         -0.421053                0.0  0.446461
1  1.000052             0.0         -0.421053                0.0 -0.029038
2  1.000078             0.0         -0.421053                0.0 -0.029038
3  1.000105             0.0          0.710526                0.0 -0.194192
4  1.000131             0.0          0.578947                0.0  0.754991

   Daytime/evening attendance  Previous qualification  \
0                         0.0                     0.0
1                         0.0                     0.0
2                         0.0                     0.0
3                         0.0                    38.0
4                         0.0                     0.0

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                        0.526667          0.0               -0.444444  ...
1                       -0.340000          0.0               -0.500000  ...
2                       -1.006667          0.0               -0.500000  ...
3                       -0.206667          0.0               -0.500000  ...
4                       -1.540000          0.0               -0.500000  ...

   Curricular units 1st sem (without evaluations)  \
0                                             0.0
1                                             0.0
2                                             0.0
3                                             0.0
4                                             0.0

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                  0.0                                  2.0
1                                  0.0                                  0.0
2                                  0.0                                  0.0
3                                  3.0                                  2.0
4                                  0.0                                  0.0

   Curricular units 2nd sem (evaluations)  \
0                               -2.333333
1                               -0.333333
2                                1.333333
3                                2.333333
4                                0.666667

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                 -1.0                         -3.743119
1                                  0.2                          0.418349
2                                  0.0                         -0.352294
3                                  0.0                         -0.352294
4                                 -0.2                         -0.455046

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                             0.0           0.848485
1                                             0.0           0.000000
2                                             0.0           1.333333
3                                             0.0          -0.666667
4                                             2.0          -1.060606

   Inflation rate       GDP
0       -0.739130  0.134670
1       -0.347826  0.487106
2        0.608696 -1.255014
3        0.000000  0.914040
4        0.521739  0.000000

[5 rows x 37 columns]

(51012, 37)

In [28]:
# Model Training using CatBoostClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the CatBoostClassifier model with specified parameters
model = CatBoostClassifier(
    iterations=464,
    depth=6,
    learning_rate=0.09895241567562836,
    l2_leaf_reg=9.985962934032957,
    border_count=37,
    random_strength=0.12603980788866026,
    bagging_temperature=0.05779942338447749,
    od_wait=42,
    eval_metric='Accuracy',
    verbose=100
)

# Train the model
model.fit(X_train, y_train, eval_set=(X_test, y_test), early_stopping_rounds=100)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate and print the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy: {accuracy}")

0:	learn: 0.8074787	test: 0.8054757	best: 0.8054757 (0)	total: 184ms	remaining: 1m 24s
100:	learn: 0.8298428	test: 0.8290643	best: 0.8295870 (99)	total: 2.5s	remaining: 8.97s
200:	learn: 0.8353808	test: 0.8318740	best: 0.8318740 (199)	total: 4.64s	remaining: 6.08s
300:	learn: 0.8381253	test: 0.8325274	best: 0.8327235 (267)	total: 6.71s	remaining: 3.63s
400:	learn: 0.8413108	test: 0.8344224	best: 0.8345531 (381)	total: 8.78s	remaining: 1.38s
463:	learn: 0.8428791	test: 0.8348798	best: 0.8348798 (463)	total: 10.1s	remaining: 0us

bestTest = 0.83487977
bestIteration = 463

Test Accuracy: 0.8348797699947726